<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <h2>{{port}}: Welcome, {{ current_user.username }}!</h2>
    <!-- Comment Submission Form -->
    <form action="{{ url_for('submit_comment') }}" method="post">
        <label for="comment">Add a Comment:</label>
        <input type="text" name="comment" id="comment" required>
        <button type="submit" class="submit-button">Submit</button>
    </form>

    <!-- Display Comments -->
    <div class="comments-section">
        <h2>Comments:</h2>
        <ul>
            {% for comment in comments %}
            <li>{{ comment.content|safe }}</li>
            {% endfor %}
        </ul>
    </div>

    <ul>
        {% for file in files %}
        <li>
            <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                {{ (request.path + '/' if request.path != '/' else '') + file }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <form method="POST" action="{{ url_for('logout') }}">
        <button type="submit">Logout</button>
    </form>
</body>

</html>